<!DOCTYPE html>
<html>
    <head>
        <title>{{titulo}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {% block cabecalho %}
        <header>
            <nav>
                {% for item in urlsMenu %}
                <a href="{{item.url}}">{{item.nome}}</a>
                {% endfor %}
                
            </nav>
        </header>
        {% endblock %}
        {% block principal %}
        <main>
            <h1>{{titulo}}</h1>
            
            
            
           
        </main>
         {% endblock %}
         {% block rodape %}
        <footer>
            {% for midia in midiaSociais %}
            <a href="{{midia.url}}">{{midia.nome}}</a>
            {% endfor %}
            
        </footer>
         {% endblock %}
        
    </body>
</html>
