{% extends "index.html" %}
{% block principal %}
    <form>
        <input type="text" name="usuario" placeholder="Usuário" required>
        <br>
        <br>
        <input type="password" name="senha" placeholder="Senha" required>
        <br>
        <br>
        <button>Entrar</button>
    </form>
{% endblock %}





